body {
    font-family: 'Sono', sans-serif;
}

/* Hint: What can you do with a media query and flexbox? */
/* TABLETS AND iPADS */
@media(min-width:481px) and (max-width:1200px){
    .pricing-container{
        flex-direction: column;       
    }
    .pricing-plan{
    flex-basis: 30%;
    width: 40%;
    }
}
/* MOBILE PHONES */
@media(min-width:319px) and (max-width:480px){
    .pricing-container{
        flex-direction: column;       
    }
    .pricing-plan{
    flex-basis: 30%;
    width: 80%;
    }
    .pricing-plan > *{
        font-size: normal;
    }
}


.pricing-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    gap: 1.5rem;
}
.pricing-plan{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #f1f1f1;
    border-radius: 0.5rem;
    flex-basis: 30%;
    height: 30%;
}
.pricing-plan > *{
    font-size: large;
}
.plan-title{
    font-weight: bold;
}
.plan-price{
    font-size: xx-large;
    font-weight: bold;
}
.plan-features{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.plan-button{
    background-color: #ff6500;
    border-color: #ff6500;
    color: white;
    border-radius: 0.3rem;
    width: 40%;
}